<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>BookAppointmentServlet</display-name>
    <servlet-name>BookAppointmentServlet</servlet-name>
    <servlet-class>com.user.servlet.BookAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookAppointmentServlet</servlet-name>
    <url-pattern>/BookAppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingAppointmentServlet</display-name>
    <servlet-name>BookingAppointmentServlet</servlet-name>
    <servlet-class>com.user.servlet.BookingAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingAppointmentServlet</servlet-name>
    <url-pattern>/BookingAppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailUtil</display-name>
    <servlet-name>EmailUtil</servlet-name>
    <servlet-class>com.ineuron.email.EmailUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailUtil</servlet-name>
    <url-pattern>/EmailUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAppointment</display-name>
    <servlet-name>EditAppointment</servlet-name>
    <servlet-class>com.admin.servlet.EditAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAppointment</servlet-name>
    <url-pattern>/EditAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteAppointment</display-name>
    <servlet-name>deleteAppointment</servlet-name>
    <servlet-class>com.admin.servlet.deleteAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteAppointment</servlet-name>
    <url-pattern>/deleteAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAppointment</display-name>
    <servlet-name>DeleteAppointment</servlet-name>
    <servlet-class>com.admin.servlet.deleteAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAppointment</servlet-name>
    <url-pattern>/DeleteAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteServlet</display-name>
    <servlet-name>deleteServlet</servlet-name>
    <servlet-class>com.admin.servlet.deleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteServlet</servlet-name>
    <url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAppoint</display-name>
    <servlet-name>DeleteAppoint</servlet-name>
    <servlet-class>com.admin.servlet.DeleteAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAppoint</servlet-name>
    <url-pattern>/DeleteAppoint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAppointment2</display-name>
    <servlet-name>DeleteAppointment2</servlet-name>
    <servlet-class>com.admin.servlet.DeleteAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAppointment2</servlet-name>
    <url-pattern>/DeleteAppointment2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAvailableSlotsServlet</display-name>
    <servlet-name>GetAvailableSlotsServlet</servlet-name>
    <servlet-class>com.user.servlet.GetAvailableSlotsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAvailableSlotsServlet</servlet-name>
    <url-pattern>/getAvailableSlots</url-pattern>
  </servlet-mapping>
</web-app>